<div class="container">
    <h2 class="text-center">Calculadora de Anuncio</h2>
    <form>
        <div class="row card" style="margin: 20px">
            <!-- Preço de venda -->
            <span class="card-header text-center">Anuncio</span>
            <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                <div class="col-md-6">
                    <label class="form-label" >Valor do Anuncio</label>
                    <input type="number" class="form-control">
                </div>
            </div>

        </div>

        <div class="row card" style="margin:20px">
            <span class="card-header text-center">Custos e Tarifas</span>
            <div class="row">
                
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label" >Custo da Mercadoria</label>
                        <input type="number" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label" >CSOSN</label>
                        <input type="number" class="form-control">
                    </div>
                </div>

                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-6">
                        <label class="form-label" >TaxaML</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-end" >
            <div class="col-sm-4" style="margin-right: 20px;">
                <label class="form-label" style="color: black;">TaxaML</label>
                <input type="number" class="form-control">
            </div>  
        </div>
    </form>





</div>