<div class="container">
    <h3 class="text-center">Calculadora de Anuncio</h3>
    <div class="alert alert-danger" *ngIf="errorMsg"> {{errorMsg}}</div>

    <form>
        <div class="row card" style="margin: 20px">
            <!-- Preço de venda -->
            <span class="card-header text-center">Anuncio</span>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-6">
                    <label class="form-label" >Valor do Anuncio</label>
                    <input type="number" class="form-control" name="precoDesconto" [(ngModel)]="precoDesconto">
                </div>
            </div>

            <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                <div class="col-md-6">
                    <label class="form-label" >Lucro</label>
                    <input type="text" name="lucro" [value]="lucro | currency : 'BRL'"  class="form-control disabled-input" readonly>
                </div>
            </div>

            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-6">
                    <button class="btn btn-primary"  (click)="calculateLucro()">Calcular</button>
                </div>
            </div>
        </div>
        <ngx-loading [show]="loading"></ngx-loading>

        <div class="row card" style="margin:20px">
            <span class="card-header text-center">Custos e Tarifas</span>
            <div class="row">
                
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label" >Custo da Mercadoria</label>
                        <input type="text"  [value]="anuncio.custo | currency :'BRL' " class="form-control disabled-input" readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label" >CSOSN</label>
                        <input type="text" [value]="anuncio.csosn" class="form-control disabled-input"  readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" >Imposto</label>
                        <input type="text" [value]="anuncio.imposto| currency:'BRL'"  class="form-control disabled-input" readonly>
                    </div>
                </div>


                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-6">
                        <label class="form-label" >TaxaML</label>
                        <input type="text" [value]="anuncio.taxaML| currency:'BRL'" class="form-control disabled-input"readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" >Frete</label>
                        <input type="text" [value]="anuncio.custoFrete| currency:'BRL'" class="form-control disabled-input" readonly>
                    </div>
                </div>
            </div>
        </div>

    </form>





</div>