
<header class="navbar bd-navbar sticky-top header">
  <div class="container-fluid">
      <ul class="list-inline">
        <li class="list-inline-item fs-2" style="padding-right: 10px;" >
          <a routerLink="" >
          <b>ML-Manager</b>
          </a>
        </li>
        <li class="list-inline-item fs-5 list-item">
          <a class="list-item" routerLink="/cadastrar-anuncio">Cadastrar</a>
        </li>
        <li class="list-inline-item fs-5 list-item">
          <a class="list-item" routerLink="/list-vendas">Vendas</a>
        </li>

      </ul>
  </div>
</header>

  <router-outlet></router-outlet>
