.content{
    border: 2px solid #a7a7a7; 
    border-radius: 10px; 
    padding: 10px; 
    margin-top: 10px;
}
header{
    background-color: blueviolet;
    padding-top: 20px;
    padding-bottom: 20px;
}

