<aside class="bd-side"></aside>

<header class="navbar navbar-expand-lg bd-navbar sticky-top">
  <div class="container-fluid">
      <ul class="list-inline">
        <li class="list-inline-item fs-2" style="padding-right: 10px;" >
          <a routerLink="" >
          <b>ML-Manager</b>
          </a>
        </li>
        <li class="list-inline-item fs-5 list-item">
          <a class="list-item" routerLink="/cadastrar-produto">Cadastrar</a>
        </li>

      </ul>
  </div>
</header>

  <router-outlet></router-outlet>
