.container-custom {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.central-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-mensagem{
    min-width: 400px;
    width: 600px;
}
