<div class="alert alert-danger accordion" *ngIf="errorMsg">
    <div class="accordion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        Errors
      </button>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {{errorMsg}}
        </div>
      </div>
    </div>
  </div>

<div class="container limit-content card" style="margin-top: 10px;">
    <ngx-loading [show]="loading"></ngx-loading>

    <table #tables mat-table [dataSource]="dataSource" class="table caption-top table-striped table-hover" matSort>

        <ng-container matColumnDef="img">
            <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let anuncio">
              <div class="col">
                <img [src]="getImageForAnuncio(anuncio)" alt="Image" style="height: 48px; width: 48px;">
              </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="descricao">
            <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>Descrição</th>
            <td mat-cell *matCellDef="let anuncio">{{ anuncio.descricao }}</td>
          </ng-container>

        <ng-container matColumnDef="mensagem">
            <th mat-header-cell scope="col" *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let anuncio">
                <div *ngFor="let anuncioMessage of anuncio.anuncioMessage" class="col">
                    <div ngbAccordion>
                        <div ngbAccordionItem [collapsed]="false">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>{{anuncioMessage.messageType}}</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        <form #userForm="ngForm" class="form-group" (ngSubmit)="onSaveMessage(anuncio, anuncioMessage)">
                                                <label>Mensagem</label>
                                                <textarea ngModel  class="form-control" name="message" [(ngModel)]="anuncioMessage.message" required ></textarea>
                                            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Salvar</button>
                                        </form>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="botao+">
            <th mat-header-cell scope="col" *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let anuncio">
                <button type="submit" class="btn btn-primary" (click)="openAddMessageType(anuncio)">+</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <div *ngFor="let anuncio of anuncios" class="container-sm container-custom card">
        <div class="container container-custom">

    </div> -->
</div>

<ng-template class="container-sm dialog" #messageDialog>
    <mat-dialog-content class="table-responsive table-container card">
        <form [formGroup]="addMessageForm" class="form-group" (ngSubmit)="onAddMessage()">
            <div class="row">
                <div >
                    <label class="form-label">Tipo da mensagem:</label>
                    <select class="form-select" formControlName="messageType">
                      <option *ngFor="let avaliableOption of getAvaliableOptionsByAnuncio(selectedAnuncioToAddMessage)">{{avaliableOption}}</option>
                    </select>
                </div>
                <div>
                    <label style="margin-top: 10px;">Mensagem</label>
                    <textarea class="form-control" name="message" formControlName="message" required></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Salvar</button>
        </form>
        
    </mat-dialog-content>
  </ng-template>