
<div class="alert alert-danger accordion" *ngIf="errorMsg">
  <div class="accordion-item">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      Errors
    </button>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {{errorMsg}}
      </div>
    </div>
  </div>
</div>

  <div class="container-fluid limit-content">
    <div class="table-responsive ">

      
      <div class="text-end click-ml-url" (click)="exportToExcel()">Baixar Excel</div>
      <form>
        <div class="mb-3 row" style="margin-right: 10px; margin-left: 10px;">
          <label for="table-filtering-search" class="col-form-label">Buscar:</label>
          <div class="col-sm" >
            <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter"/>
          </div>
        </div>
      </form>

      <table class="table caption-top table-striped table-hover">
        <caption>Anuncios Mercado Livre</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">mlId</th>
              <th scope="col" style="width: 100px;">sku</th>
              <th scope="col">gtin</th>
              <th scope="col">Descrição</th>
              <th scope="col">Custo</th>
              <th scope="col">Venda</th>
              <th scope="col">TaxaML</th>
              <th scope="col">Frete</th>
              <th scope="col" style="min-width: 80px;">Lucro</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">
                <img class="hover-icon" (click)="clickUpdateAll()" src="../../../assets/arrow-clockwise.svg" width="16" height="16">
              </th>
            </tr>
          </thead>
  
          <tbody>
  
            <ngx-loading [show]="loading"></ngx-loading>
            <tr  *ngFor="let Anuncio of itemsTemp | async">
              
              <td>{{ Anuncio.id }}</td>
              <td class="click-ml-url" (click)="openAnuncioPage(Anuncio.url)">{{ Anuncio.mlId }}</td>
              <td class="text-break" style="width: 100px;">{{ Anuncio.sku }}</td>
              <td>{{ Anuncio.gtin }}</td>
              <td>{{ Anuncio.descricao }}</td>
              <td>{{ Anuncio.custo  | currency: "BRL" }}</td>
              <td>{{ Anuncio.precoDesconto | currency: "BRL" }}</td>
              <td>{{ Anuncio.taxaML  | currency: "BRL" }}</td>
              <td>{{ Anuncio.custoFrete  | currency: "BRL" }}</td>
              <td  style="min-width: 80px;">{{ Anuncio.lucro  | currency: "BRL" }}</td>
              <td *ngIf="Anuncio.status == 'active'; else pausado"> Ativo</td>
              <ng-template #pausado>
                <td> Pausado</td>
              </ng-template>
              <td><img class="hover-icon" (click)="clickEdit(Anuncio)" src="../../../assets/pencil.svg" width="16" height="16"></td>
              <td><img class="hover-icon" (click)="clickDelete(Anuncio)" src="../../../assets/trash.svg" width="16" height="16"></td>
              <td><img class="hover-icon" (click)="clickUpdate(Anuncio)" src="../../../assets/arrow-clockwise.svg" width="16" height="16"></td>
  
            </tr>
            
          </tbody>
        </table>

    </div>
    
    </div>



