
<div class="alert alert-danger accordion" *ngIf="errorMsg">
  <div class="accordion-item">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      Errors
    </button>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {{errorMsg}}
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container-xxl">
    <form>
      <div class="mb-3 row" style="margin-right: 10px; margin-left: 10px;">
        <label for="table-filtering-search" class="col-form-label">Buscar:</label>
        <div class="col-sm" >
          <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter"/>
        </div>
      </div>
    </form>
  
    <div class="table-responsive">
      <table class="table caption-top">
        <caption>Anuncios Mercado Livre</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">mlId</th>
            <th scope="col">sku</th>
            <th scope="col">gtin</th>
            <th scope="col">Descrição</th>
            <th scope="col">Custo</th>
            <th scope="col">Venda</th>
            <th scope="col">TaxaML</th>
            <th scope="col">Frete</th>
            <th scope="col">Lucro</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">
              <img class="hover-icon" (click)="clickUpdateAll()" src="../../../assets/arrow-clockwise.svg" width="16" height="16">
            </th>
          </tr>
        </thead>

        <tbody>

          <ngx-loading [show]="loading"></ngx-loading>
          <tr *ngFor="let produto of produtosTemp | async;">
            
            <td>{{ produto.id }}</td>
            <td class="click-ml-url" (click)="openProdutoPage(produto.url)">{{ produto.mlId }}</td>
            <td>{{ produto.sku }}</td>
            <td>{{ produto.gtin }}</td>
            <td>{{ produto.descricao }}</td>
            <td>{{ produto.custo  | currency: "BRL" }}</td>
            <td>{{ produto.precoDesconto | currency: "BRL" }}</td>
            <td>{{ produto.taxaML  | currency: "BRL" }}</td>
            <td>{{ produto.custoFrete  | currency: "BRL" }}</td>
            <td>{{ produto.lucro  | currency: "BRL" }}</td>
            <td *ngIf="produto.status == 'active'; else pausado"> Ativo</td>
            <ng-template #pausado>
              <td> Pausado</td>
            </ng-template>
            <td><img class="hover-icon" (click)="clickEdit(produto)" src="../../../assets/pencil.svg" width="16" height="16"></td>
            <td><img class="hover-icon" (click)="clickDelete(produto)" src="../../../assets/trash.svg" width="16" height="16"></td>
            <td><img class="hover-icon" (click)="clickDelete(produto)" src="../../../assets/arrow-clockwise.svg" width="16" height="16"></td>

          </tr>
          
        </tbody>
      </table>
  </div>
  

  </div>

</div>
