
.clikable{
    cursor: pointer;
}

.alert{
    margin-top: 10px;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.stick-top{
    position: sticky;
    top: 0px;  /* 0px if you don't have a navbar, but something is required */
    background: white;
    z-index: 1;
}
